{% extends "base_emp2.tpl" %}

{% block title %}Pivot- งานตีคืนสาขา{% endblock %}

{% block menu_3 %} active {% endblock %}

{% block scriptImport %}
        <link rel="stylesheet" href="../themes/bootstrap/css/jquery.dataTables.css">
		<link rel="stylesheet" href="../themes/jquery.Thailand.js/dist/jquery.Thailand.min.css"></link>

		<link rel="stylesheet" href="../themes/jquery/jquery-ui.css">
		<script src="../themes/jquery/jquery-ui.js"></script>

		<script src="../themes/bootstrap/js/jquery.dataTables.min.js"></script>
		<script src="../themes/jquery/jquery.validate.min.js"></script>
		<!-- dependencies for zip mode -->
			<script type="text/javascript" src="../themes/jquery.Thailand.js/dependencies/zip.js/zip.js"></script>
			<!-- / dependencies for zip mode -->

			<script type="text/javascript" src="../themes/jquery.Thailand.js/dependencies/JQL.min.js"></script>
			<script type="text/javascript" src="../themes/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>

			<script type="text/javascript" src="../themes/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>
			
			<link rel="stylesheet" href="../themes/bootstrap/css/bootstrap-datepicker.min.css">
			<script src="../themes/bootstrap/js/bootstrap-datepicker.min.js" charset="utf-8"></script>

{% endblock %}
{% block styleReady %}
.alert_time {
    padding: 3px 15px 3px 15px; 
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 20px;
}
.font_mini{
	font-size:14px;
}
.box_error{
	font-size:12px;
	color:red;
}
#loader{
	  height:100px;
	  width :100px;
	  display:table;
	  margin: auto;
	  border-radius:50%;
	}#bg_loader{
		position:fixed;
		top:500px;
		background-color:rgba(255,255,255,0.7);
		height:100%;
		width:100%;
	}

	th, td{
	white-space: nowrap;
}

.responsive-table{
	width: 100%;
	overflow-x: auto;
}
{% endblock %}

{% block domReady %}	

//console.log('55555');


$('#branch_re').on('select2:select', function (e) {
    load_floor_data();
	$('#branch_floor').html('');
});




$('#date_send').datepicker({
			todayHighlight: true,
			autoclose: true,
			clearBtn: true,
			format: 'yyyy-mm-dd'
});	
$('#date_import').datepicker({
			todayHighlight: true,
			autoclose: true,
			clearBtn: true,
			format: 'yyyy-mm-dd'
});	
$('#date_report').datepicker({
			todayHighlight: true,
			autoclose: true,
			clearBtn: true,
			format: 'yyyy-mm-dd'
});	
  $('#myform_data_senderandresive').validate({
	onsubmit: false,
	onkeyup: false,
	errorClass: "is-invalid",
	highlight: function (element) {
		if (element.type == "radio" || element.type == "checkbox") {
			$(element).removeClass('is-invalid')
		} else {
			$(element).addClass('is-invalid')
		}
	},
	rules: {
		'date_send': {
			required: true
		},
		'round': {
			required: true
		},
		'emp_id_send': {
			required: true
		},
		'emp_id_re': {
			required: true
		},
		'branch_re': {
			required: true
		},
		'branch_floor': {
			required: true
		},
		'cost_id': {
			required: true
		},
		'dep_id_re': {
			required: true
		},
		'topic': {
			required: true
		},
		'quty': {
			required: true,
			min: 1,
		},
		'weight': {
			required: true,
			min: 1,
		},
		'price': {
			required: true,
			min: 1,
		},
		'mr_type_post_id': {
			required: true,
		},
		'post_barcode': {
			required:  {
				depends: 
				  function(element){
					var mr_type_post_id = $('#mr_type_post_id').val();
					if(mr_type_post_id == 1){
						return false;
					} else {
						return true;
					}
				  }
				},
		},
		'sub_district_re': {
			required: true,
		},
		'district_re': {
			required: true,
		},
		'province_re': {
			required: true,
		},
		'post_barcode_re': {
			required:  {
				depends: 
				  function(element){
					var mr_type_post_id = $('#mr_type_post_id').val();
					if(mr_type_post_id == 3 || mr_type_post_id == 5){
						return true;
					} else {
						return false;
					}
				  }
				},
		},
	  
	},
	messages: {
		'date_send': {
		  required: 'กรุณาระบุ วันทสี่ส่งงาน.'
		},
		'type_send': {
		  required: 'กรุณาระบุ ประเภทการส่ง'
		},
		'round': {
		  required: 'กรุณาระบุ รอบจัดส่ง'
		},
		'emp_id_re': {
			required:  'กรุณาระบุ รหัสพนักงาน:'
		},
		'branch_re': {
			required: 'กรุณาระบุ สาขา:'
		},
		'branch_floor': {
			required: 'กรุณาระบุ อาคาร/ชั้น:'
		},
		'dep_id_re': {
			required: 'กรุณาระบุ หน่วยงาน:'
		},
		'topic': {
			required: 'กรุณาระบุ ชื่อเอกสาร:'
		},
		'dep_id_send': {
		  required: 'กรุณาระบุหน่วยงาน ผู้ส่ง'
		},
		'cost_id': {
		  required: 'กรุณาระบุรหัสค่าใช้จ่าย'
		},
		'name_re': {
		  required: 'กรุณาระบุ ชื่อผู้รับ'
		},
		'lname_re': {
		  required: 'กรุณาระบุ นามสกุลผู้รับ'
		},
		'tel_re': {
		  required: 'กรุณาระบุ เบอร์โทร'
		},
		'address_re': {
		  required: 'กรุณาระบุ ที่อยู่'
		},
		'sub_district_re': {
		  //required: 'กรุณาระบุ แขวง/ตำบล'
		},
		'district_re': {
		  //required: 'กรุณาระบุ เขต/อำเภอ'
		},
		'province_re': {
		  //required: 'กรุณาระบุ จังหวัด'
		},
		'post_code_re': {
		  //required: 'กรุณาระบุ รหัสไปรษณีย์'
		},
		'topic': {
		  required: 'กรุณาระบุ หัวเรื่อง'
		},
		'mr_type_post_id': {
		  required: 'กรุณาระบุ ประเภทการส่ง'
		},
		'post_barcode': {
		  required: 'กรุณาระบุ เลขที่เอกสาร'
		},
		'quty': {
		  required: 'กรุณาระบุ จำนวน',
		  number: 'กรุณาระบุ เป็นตัวเลข',
		  min: 'ราคาต้องมีค่าตั้งแต่ 1 ขึนไป'
		},
		'weight': {
		  required: 'กรุณาระบุ น้ำหนัก',
		  number: 'กรุณาระบุ เป็นตัวเลข',
		  min: 'ราคาต้องมีค่าตั้งแต่ 1 ขึนไป'
		},
		'price': {
		  required: 'ไม่พบข้อมูลราคา',
		  min: 'ราคาต้องมีค่าตั้งแต่ 1 ขึนไป'
		},
		'sub_district_re': {
			required:  'กรุณาระบุ แขวง/ตำบล:',
		},
		'district_re': {
			required:  'กรุณาระบุ เขต/อำเภอ:',
		},
		'province_re': {
			required:  'กรุณาระบุ จังหวัด:',
		},
		'post_barcode_re': {
			required:  'กรุณาระบุ เลขตอบรับ :',
		},
		 
	},
	errorElement: 'span',
	errorPlacement: function (error, element) {
		var placement = $(element).data('error');
		//console.log(placement);
		if (placement) {
			$(placement).append(error)
		} else {
			error.insertAfter(element);
		}
	}
  });
  

$('#myform_data_add_cost_center').validate({
	onsubmit: false,
	onkeyup: false,
	errorClass: "is-invalid",
	highlight: function (element) {
		if (element.type == "radio" || element.type == "checkbox") {
			$(element).removeClass('is-invalid')
		} else {
			$(element).addClass('is-invalid')
		}
	},
	rules: {
		'add_cost_code': {
			required: true
		},
		'add_cost_name': {
			required: true
		}
	  
	},
	messages: {
		'add_cost_code': {
		  required: 'กรุณาระบุ รหัสค่าใช้จ่าย.'
		},
		'add_cost_name': {
		  required: 'กรุณาระบุ ชื่อ'
		}
	},
	errorElement: 'span',
	errorPlacement: function (error, element) {
		var placement = $(element).data('error');
		//console.log(placement);
		if (placement) {
			$(placement).append(error)
		} else {
			error.insertAfter(element);
		}
	}
  });



$('#btn_save').click(function() {

	var data = $('#branch_floor').select2('data')
	var branch_floor_name 		= '';
	if($('#branch_floor').val()){
		branch_floor_name 		= data[0].text;
	}
	
	if($('#myform_data_senderandresive').valid()) {
	 	var form = $('#myform_data_senderandresive');
		  //</link>var serializeData = form.serializeArray();
      	var serializeData = form.serialize();
		  $.ajax({
			method: "POST",
			dataType:'json',
			url: "ajax/ajax_save_Work_post_out.php",
			data: serializeData+"&branch_floor_name="+branch_floor_name,
			beforeSend: function() {
				// setting a timeout
				$("#bg_loader").show();
			},
			error: function (error) {
			  alert('error; ' + eval(error));
			  $("#bg_loader").hide();
			// location.reload();
			}
		  })
		  .done(function( res ) {
			$("#bg_loader").hide();
			if(res['status'] == 401){
				//console.log(res);
				$('#csrf_token').val(res['token']);
				alertify.alert('ผิดพลาด',"  "+res.message
				,function(){
					window.location.reload();
				});
			}else if(res['status'] == 505){
				//console.log(res);
				$('#csrf_token').val(res['token']);
				alertify.alert('ผิดพลาด',"  "+res.message
				,function(){
					//window.location.reload();
				});
			}else if(res['status'] == 200){
				load_data_bydate();
				$('#csrf_token').val(res['token']);
				if($("#reset_send_form").prop("checked") == false){
					reset_send_form();
				}
				if($("#reset_resive_form").prop("checked") == false){
					reset_resive_form();
				}
				if($("#reset_resive_form").prop("checked") == false && $("#reset_send_form").prop("checked") == false){
					reset_resive_form();
					reset_send_form();
				}
				

				//token
			}else{
				$('#csrf_token').val(res['token']);
				alertify.alert('ผิดพลาด',"  "+res.message
				,function(){
					//window.location.reload();
				});
			}
		  });
     
	}
});


$('#branch_floor').select2();
$('#branch_re').select2();
$('#dep_id_re').select2();
//$('#dep_id_send').select2();
$('#cost_id').select2();
//$('#emp_id_send').select2({
//	placeholder: "ค้นหาผู้ส่ง",
//	ajax: {
//		url: "./ajax/ajax_getdataemployee_select_search.php",
//		dataType: "json",
//		delay: 250,
//		processResults: function (data) {
//			return {
//				results : data
//			};
//		},
//		cache: true
//	}
//}).on('select2:select', function(e) {
//	console.log(e.params.data.id);
//	setForm(e.params.data.id);
//});
$('#emp_id_re').select2({
	placeholder: "ค้นหาผู้รับ",
	ajax: {
		url: "./ajax/ajax_getdataemployee_select_search.php",
		dataType: "json",
		delay: 250,
		processResults: function (data) {
			return {
				results : data
			};
		},
		cache: true
	}
}).on('select2:select', function(e) {
	console.log(e.params.data.id);
	setForm(e.params.data.id);
});
$('#messenger_user_id').select2({
	placeholder: "ค้นหาผู้ส่ง",
	ajax: {
		url: "./ajax/ajax_getmessenger_select_search.php",
		dataType: "json",
		delay: 250,
		processResults: function (data) {
			return {
				results : data
			};
		},
		cache: true
	}
}).on('select2:select', function(e) {
	//console.log(e.params.data.id);
});

var tbl_data = $('#tb_keyin').DataTable({ 
	"searching": true,
	 "fixedHeader": {
        header: true,
    },
    "Info": false,
    "language": {
        "emptyTable": "ไม่มีข้อมูล!"
    },
    'columns': [
        {'data': 'num'},
        {'data': 'check'},
        {'data': 'action'},
        {'data': 'sys_timestamp'},
        {'data': 'd_send'},
        {'data': 'mr_work_barcode'},
        {'data': 'mr_status_name'},
        {'data': 'send'},
        {'data': 'mr_round_name'},
        {'data': 'resive'},
        {'data': 'mr_cost_code'},
        {'data': 'mr_topic'},
        {'data': 'mr_work_remark'},
    ]
});
$('.select-all').on('click', function(){
	// Check/uncheck all checkboxes in the table
	var rows = tbl_data.rows({ 'search': 'applied' }).nodes();
	$('input[type="checkbox"]', rows).prop('checked', this.checked);
 });
load_data_bydate();



function setForm(emp_code) {
			var emp_id = parseInt(emp_code);
			//console.log(emp_id);
			$.ajax({
				url: './ajax/ajax_autocompress_name.php',
				type: 'POST',
				data: {
					name_receiver_select: emp_id
				},
				dataType: 'json',
				success: function(res) {
					//console.log("++++++++++++++"+res.mr_cost_id);
					if(res['status'] == 501){
						//console.log(res);
					}else if(res['status'] == 200){
						$("#emp_re_data").val(res.text_emp);
						$("#cost_id").val(res.data.mr_cost_id).trigger('change');
						$("#dep_id_re").val(res.data.mr_department_id).trigger('change');
						$("#branch_re").val(res.data.mr_branch_id).trigger('change');
						//console.log('*****'+res['data']['mr_cost_id']);
						load_floor_data();
						let myPromise = new Promise(function(myResolve, myReject) {
							let data_r = load_floor_data();
							myResolve(data_r);
						});
						myPromise.then(function(value) {	
							//console.log('---***---')		
							//console.log(res['data'])		
							var newOption = new Option(
								res['data']['mr_department_floor'], 
								res['data']['mr_floor_id'], false, 
								false
							);
							$('#branch_floor').append(newOption).trigger('change');
							//console.log(newOption)	
							$('#branch_floor').val(res['data']['mr_floor_id']).trigger('change');
						});

						//var newOption = new Option(data.text, data.id, false, false);
						//$('#branch_floor').append(newOption).trigger('change');
						//$('#branch_floor').val(res['data']['mr_floor_id']).trigger('change');

					}else{
						alertify.alert('ผิดพลาด',"  "+res.message,function(){window.location.reload();});
					}
				}
			})
		}

	
  $('#btn_add_cost').click(function() {
	
	if($('#myform_data_add_cost_center').valid()) {
	 	var form = $('#myform_data_add_cost_center');
		  //</link>var serializeData = form.serializeArray();
      	var serializeData = form.serialize();
		  $.ajax({
			method: "POST",
			dataType:'json',
			url: "ajax/ajax_cost.php",
			data: serializeData+"&page=add",
			beforeSend: function() {
				// setting a timeout
				$("#bg_loader").show();
			},
			error: function (error) {
			  alert('error; ' + eval(error));
			  $("#bg_loader").hide();
			 //location.reload();
			}
		  })
		  .done(function( res ) {

			$("#bg_loader").hide();
			setTimeout(function(){ 
				$('#success').hide();
				$('#error').hide();
			}, 3000);

			if(res['status'] == '200'){
				$('#success').text(res['message']);
				$('#success').show();
				$('#error').hide();
			}else{
				$('#error').text(res['message']);
				$('#success').hide();
				$('#error').show();
			}
		  });
     
	}
});	
		
{% endblock %}
{% block javaScript %}
var url = "../employee/";
function load_floor_data() {
	console.log('load_floor_data')
    //console.log($('#branch_re').val());
    var branch_id = $('#branch_re').val();
	$.ajax({
		//url: 'https://www.pivot-services.com/mailroom_tmb/employee/ajax/ajax_autocompress_name.php',
		url: url+'ajax/ajax_autocompress_chang_branch.php',
		type: 'POST',
		data: {
			branch_id: branch_id
		},
		dataType: 'json',
		success: function(res) {
			if(res.status == 200) {
				$('#branch_floor').append(res.data);
			}
			
		}
	})

}

function load_data_bydate() {

	var form = $('#form_print');
	var serializeData = form.serialize();
	$.ajax({
		method: "POST",
		dataType:'json',
		data:serializeData,
		url: "ajax/ajax_load_Work_Return.php",
		beforeSend: function() {
			// setting a timeout
			$("#bg_loader").show();
		},
		error: function (error) {
		  alert('error; ' + eval(error));
		  $("#bg_loader").hide();
		// location.reload();
		}
	  })
	  .done(function( res ) {
		$("#bg_loader").hide();
		if(res['status'] == 200){
			$('#tb_keyin').DataTable().clear().draw();
			$('#tb_keyin').DataTable().rows.add(res.data).draw();

		}
	  });
}

function reset_send_form() {

}

function cancle_work(id) {
	alertify.confirm('ยืนยันการลบ', 'กด "OK" เพื่อยกเลิกการส่ง',
	function(){ 
		$.ajax({
		method: "POST",
		dataType:'json',
		data:{
			id 		: id,
			page	:'cancle'
		},
		url: "ajax/ajax_load_Work_Post_out.php",
		beforeSend: function() {
			// setting a timeout
			$("#bg_loader").show();
		},
		error: function (error) {
		  alert('error; ' + eval(error));
		  $("#bg_loader").hide();
		// location.reload();
		}
	  })
	  .done(function( res ) {
		$("#bg_loader").hide();
			load_data_bydate();
	  });
	  
	}, function(){ 
		alertify.error('Cancel')
	});
}
function reset_resive_form() {
	$("#name_re").val("");
	$("#lname_re").val("");
	$("#tel_re").val("");
	$("#address_re").val("");
	$("#sub_districts_code_re").val("");
	$("#districts_code_re").val("");
	$("#provinces_code_re").val("");
	$("#sub_district_re").val("");
	$("#district_re").val("");
	$("#province_re").val("");
	$("#post_code_re").val("");
	$("#quty").val("1");
	$("#topic").val("");
	$("#work_remark").val("");
}
function print_option(type){
	console.log(type);
	if(type == 1 ){
		//console.log(11);
		$("#form_print").attr('action', 'print_peper_work_return.php');
		$('#form_print').submit();
	}else if(type == 2){
		//console.log(22);
		var dataall = [];
				var tbl_data = $('#tb_keyin').DataTable();
				 tbl_data.$('input[type="checkbox"]:checked').each(function(){
					 //console.log(this.value);
					//  dataall.push(this.value);
					var token = encodeURIComponent(window.btoa(this.value));
					//</link>var token = this.value;
					dataall.push(token);
				  });
				  //console.log(tel_receiver);
				  if(dataall.length < 1){
					 alertify.alert("ตรวจสอบข้อมูล","ท่านยังไม่เลือกงาน"); 
					 return;
				  }

				
				 // return;
				var newdataall = dataall.join(",");
				$('#maim_id').val(newdataall);


		$("#form_print").attr('action', 'print_coverpage.php');
		$('#form_print').submit();
	}else{
		alert('----');
	}

}

function chang_dep_id() {
	var dep = $('#dep_id_re').select2('data'); 
	var emp = $('#emp_id_re').select2('data'); 
	
	console.log(emp);
	if(emp[0].id!=''){
		$("#emp_re_data").val(emp[0].text+'\\n'+dep[0].text);
	}else{
		$("#emp_re_data").val(dep[0].text);
	}
	
}

function changPost_Type(type_id){
	//console.log(type_id);
	if(type_id == 3 || type_id == 5){
		$('#tr-post-barcode-re').show();
		console.log("if ::"+type_id);
	}else{
		$('#tr-post-barcode-re').hide();
		console.log("else ::"+type_id);
	}
	setPost_Price();
}
function setPost_Price(){
	var mr_type_post_id = $('#mr_type_post_id').val();
	var quty 			= $('#quty').val();
	var weight 			= $('#weight').val();
	var price 			= $('#price').val();
	var total_price 	= $('#totsl_price').val();

	if(mr_type_post_id != '' && mr_type_post_id != null && weight != '' && weight != null){
		//console.log('เข้า');
		$.ajax({
			method: "POST",
			dataType:'json',
			url: "ajax/ajax_get_post_price.php",
			data :{
				mr_type_post_id : mr_type_post_id,
				quty 		 	: quty 		,
				weight 		 	: weight 		,
				price 		 	: price 		,
				total_price 	: total_price
			},
			beforeSend: function() {
				// setting a timeout
				$("#bg_loader").show();
				$('#total_price').val('');
			},
			error: function (error) {
			  alert('error; ' + eval(error));
			  $("#bg_loader").hide();
			  $('#price').val('');
					$('#total_price').val('');
			// location.reload();
			}
		  })
		  .done(function( res ) {
			$("#bg_loader").hide();
				if(res['status'] == 200){
					$('#price').val(res['data']['post_price']);
					$('#total_price').val(res['data']['totalprice']);
				}else{
					$('#price').val('');
					$('#total_price').val('');
				}
		  });
	}else{
		//console.log('ไม่เข้า');
		
		$('#price').val('');
		$('#totsl_price').val('');
	}
	
}

function import_excel() {
	$('#div_error').hide();	
	var formData = new FormData();
	
	formData.append('file', $('#file')[0].files[0]);
	formData.append('csrf_token', $('#csrf_token').val());
	formData.append('date_import', $('#date_import').val());
	formData.append('import_round', $('#import_round').val());
	formData.append('page', 'Uploadfile');

	if($('#file').val() == ''){
		$('#div_error').html('กรุณาเลือกไฟล์อัปโหลด !!');
		$('#div_error').show();
		return;
	}else{
	 var extension = $('#file').val().replace(/^.*\./, '');
	 if(extension !='xlsx' && extension !='xls' && extension !='XLS' && extension !='XLSX'){
		 $('#div_error').html('กรุณาเลือกไฟล์ Excel เท้านั้น !!');
		$('#div_error').show();
		// console.log(extension);
		return;
	 }
	}
	$.ajax({
		   url : 'ajax/ajax_save_Work_post_out.php',
		   dataType : 'json',
		   type : 'POST',
		   data : formData,
		   processData: false,  // tell jQuery not to process the data
		   contentType: false,  // tell jQuery not to set contentType
		   success : function(res) {
			if(res['status'] == 401){
				//console.log(res);
				$('#csrf_token').val(res['token']);
				alertify.alert('ผิดพลาด',"  "+res.message
				,function(){
					window.location.reload();
				});
			}else if(res['status'] == 505){
				//console.log(res);
				$('#csrf_token').val(res['token']);
				alertify.alert('ผิดพลาด',"  "+res.message
				,function(){
					//window.location.reload();
				});
			}else if(res['status'] == 200){
				load_data_bydate();
				$('#csrf_token').val(res['token']);
				if($("#reset_send_form").prop("checked") == false){
					reset_send_form();
				}
				if($("#reset_resive_form").prop("checked") == false){
					reset_resive_form();
				}
				if($("#reset_resive_form").prop("checked") == false && $("#reset_send_form").prop("checked") == false){
					reset_resive_form();
					reset_send_form();
				}
			}
			   $('#bg_loader').hide();
		   }, beforeSend: function( xhr ) {
				$('#bg_loader').show();
				
			},
			error: function (error) {
				alert("เกิดข้อผิดหลาด");
				//location.reload();
			}
		});

}



function cancelwork() {
	var dataall = [];
	var tbl_data = $('#tb_keyin').DataTable();
	tbl_data.$('input[type="checkbox"]:checked').each(function(){
		 //console.log(this.value);
		dataall.push(this.value);
	});

	if(dataall.length < 1){
		alertify.alert("alert","ท่านยังไม่เลือกรายการ"); 
		return;
	}
	alertify.confirm('ยืนยันการลบ', 'กด "OK" เพื่อยกเลิกการส่ง',
	function(){ 
		var newdataall = dataall.join(",");
		$.ajax({
		method: "POST",
		dataType:'json',
		data:{
			id 		: newdataall,
			page	:'cancle_multiple'
		},
		url: "ajax/ajax_load_Work_Post_out.php",
		beforeSend: function() {
			// setting a timeout
			$("#bg_loader").show();
		},
		error: function (error) {
		  alert('error; ' + eval(error));
		  $("#bg_loader").hide();
		// location.reload();
		}
	  })
	  .done(function( res ) {
		$("#bg_loader").hide();
			load_data_bydate();
	  });
	  
	}, function(){ 
		alertify.error('Cancel')
	});
	

}	


function dowload_excel(){
	var r = confirm("ต้องการโหลดไฟล์!");
	if (r == true) {
		window.open("../themes/thai_post_template.xlsx", "_blank");
	} else {
		alertify.error('Cancel')
	}
	

}	

{% endblock %}
{% block Content2 %}

<div  class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="">
				<label><h3><b>เอกสารส่งคืนสาขา</b></h3></label><br>
				
		   </div>	
		</div>
	</div>
	  
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
				  <a class="nav-link active" id="key-tab" data-toggle="tab" href="#key" role="tab" aria-controls="key" aria-selected="true"><label> คีย์คำสั่งงาน > เอกสารส่งคืนสาขา </label></a>
				</li>
			  </ul>
			  <br>
			  <br>
			  <div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="key" role="tabpanel" aria-labelledby="key-tab">
					<div class="row">
							<div class="col-md-12">
										<form id="myform_data_senderandresive">
										<input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token}}">
										<div class="row">
											<div class="col-md-6">
												<h5 class="card-title">รอบการนำส่งเอกสารประจำวัน</h5>
												<h5 class="card-title">ข้อมูลผู้สั่งงาน</h5>
												<div class="table-responsive">
													<table class="" style="width: 100%;">
														<tr>
															<td style="width: 180px;" ><span class="text-muted font_mini" >วันที่นำส่ง:</span></td>
															<td>
																
																<input data-error="#err_date_send" name="date_send" id="date_send" class="form-control form-control-sm" type="text" value="{{today}}" placeholder="{{today}}">
															</td>
														</tr>
														
														<tr>
															<td><span class="text-muted font_mini" >รอบการรับส่ง:</span></td>
															<td>
																<span class="box_error" id="err_round"></span>
																<select data-error="#err_round" class="form-control form-control-sm" id="round" name="round">
																	<option value="" selected disabled>กรุณาเลือกรอบ</option>
																	{% for r in round %}
																	<option value="{{r.mr_round_id}}">{{r.mr_round_name}}</option>
																	{% endfor %}
																</select>
															</td>
														</tr>
														
														<tr>
										<td style="width: 180px;"><span class="text-muted font_mini" >รหัสพนักงาน:</span></td>
										<td>
											
											<div class="input-group input-group-sm">
												<span class="box_error" id="err_emp_id_send"></span><br>
												<select readonly data-error="#err_emp_id_send" class="form-control form-control-sm" id="emp_id_send" name="emp_id_send" style="width:100%;">
													<option value="{{ user_data_show.mr_emp_id }}">{{ user_data_show.mr_emp_code }} : {{ user_data_show.mr_emp_name }} {{ user_data_show.mr_emp_lastname }}</option>
												</select>	
												
											  </div>
										</td>
									</tr>
									<tr>
									<tr>
										<td style="width: 180px;"><span class="text-muted font_mini" >ชั้น:</span></td>
										<td>
											<span class="box_error" id="err_floor_id_send"></span><br>
											<div class="input-group input-group-sm">
												<select readonly data-error="#err_floor_id_send" class="form-control form-control-sm" id="floor_id_send" name="floor_id_send" style="width:100%;">
													<option value="{{ user_data_show.mr_floor_id }}">{{ user_data_show.name }}</option>
												</select>	
												
											  </div>
										</td>
									</tr>
									<tr>
										<td style="width: 180px;"><span class="text-muted font_mini" >รหัสหน่วยงาน:</span></td>
										<td>

											<span class="box_error" id="err_dep_id_send"></span>
												<select readonly data-error="#err_dep_id_send" class="form-control form-control-sm" id="dep_id_send" name="dep_id_send" onchange="chang_dep_id();" style="width:100%;">
													<option value="{{ user_data_show.mr_department_id }}">{{ user_data_show.mr_department_code }} - {{ user_data_show.mr_department_name }}</option>
		
												</select>	
											
										</td>
									</tr>
									<tr>
										<td class="align-top"><span class="text-muted font_mini" >รายละเอียดผู้สั่งงาน: </span></td>
										<td>
											<textarea class="form-control" id="emp_send_data" name="emp_send_data" rows="3" readonly>{{ emp_send_data }} </textarea>
										</td>
									  </tr>
									<tr>
														<tr>
													</table>
												</div>

												
												<hr>
												

												<hr>
												
												
												
											</div>
											
											



											<div class="col-md-6">
												<h5 class="card-title">ข้อมูลผู้รับ</h5>
												<div class="table-responsive">
													<table class="" style="width: 100%;">
														<tr>
															<td style="width: 180px;"><span class="text-muted font_mini" >รหัสพนักงาน:</span></td>
															<td>
																<span class="box_error" id="err_emp_id_re"></span>
																<select data-error="#err_emp_id_re" class="form-control form-control-sm" id="emp_id_re" name="emp_id_re" style="width:100%;">
																	<option value="">รหัสพนักงาน</option>
																	<option value="1">2</option>
																	<option value="2">2</option>
																</select>
															</td>
														</tr>
														
														<tr>
															<td style="width: 180px;"><span class="text-muted font_mini" >สาขา:</span></td>
															<td>
																<span class="box_error" id="err_branch_re"></span>
																<select data-error="#err_branch_re" class="form-control form-control-sm" id="branch_re" name="branch_re" style="width:100%;">
																	<option value="" selected>สาขาปลายทาง</option>
																	{% for b in branch_data %}
																		<option value="{{ b.mr_branch_id }}" > {{ b.mr_branch_code }}:{{ b.mr_branch_name }}</option>
																	{% endfor %}
																</select>
															</td>
														</tr>
														<tr>
															<td style="width: 180px;"><span class="text-muted font_mini" >อาคาร/ชั้น:</span></td>
															<td>
																<span class="box_error" id="error_branch_floor"></span>
																<select class="form-control-lg"  data-error="#error_branch_floor" id="branch_floor" name="branch_floor" style="width:100%;">
																	<option value="" selected>อาคาร/ชั้น</option>			
																</select>
															</td>
														</tr>
														<tr>
															<td style="width: 180px;"><span class="text-muted font_mini" >รหัสค่าใช้จ่าย:</span></td>
															<td>
															<span class="box_error" id="err_cost_id"></span><br>
															<div class="input-group input-group-sm">
																
																<select data-error="#err_cost_id" onchange="chang_dep_id();" class="form-control form-control-sm" id="cost_id" name="cost_id" style="width:100%;">
																	<option value="" selected disabled >กรุณาเลือกหน่วยงาน</option>
																		{% for c in cost %}
																		<option value="{{ c.mr_cost_id }}">{{ c.mr_cost_code }} - {{ c.mr_cost_name }}</option>
																		{% endfor %}
																</select>
																<div class="input-group-append">
																<span class="input-group-text" id="basic-addon2">
																	<!-- Button trigger modal -->
																	<button id="btn_add_cost_center" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add_cost_center" data-keyboard="false" data-backdrop="static" title="เพิ่มข้อมูลพนักงาน">
																			+
																		</button>
																	</span>
																</div>
															</div>
															</td>
														</tr>
														<tr>
															<td style="width: 180px;"><span class="text-muted font_mini" >หน่วยงาน:</span></td>
															<td>
																<span class="box_error" id="err_dep_id_re"></span>
																<select data-error="#err_dep_id_re" onchange="chang_dep_id();" class="form-control form-control-sm" id="dep_id_re" name="dep_id_re" style="width:100%;">
																	<option value="" selected disabled >กรุณาเลือกหน่วยงาน</option>
																		{% for d in department %}
																		<option value="{{ d.mr_department_id }}">{{ d.mr_department_code }} - {{ d.mr_department_name }}</option>
																		{% endfor %}
																</select>
															</td>
														</tr>
														<tr>
															<td class="align-top"><span class="text-muted font_mini" >รายละเอียดผู้รับ: </span></td>
															<td>
																<textarea class="form-control" id="emp_re_data" name="emp_re_data" rows="3" readonly></textarea>
															</td>
														</tr>
														<tr>
															<td class="align-top"><span class="text-muted font_mini" >ชื่อเอกสาร:</span></td>
															<td>
																<span class="box_error" id="err_topic"></span>
																<textarea data-error="#err_topic" id="work_remark" name="topic" data-error="err_topic"  class="form-control" id="topic" rows="1"></textarea>
															</td>
														</tr>
														<tr>
															<td class="align-top"><span class="text-muted font_mini" >รายละเอียด/หมายเหตุ:</span></td>
															<td>
																<span class="box_error" id="err_"></span>
																<textarea id="work_remark" name="work_remark" data-error="#"  class="form-control" id="" rows="4"></textarea>
															</td>
														</tr>
														
													</table>
													<hr>
												</div><br>


												<div class="form-group text-center">
													<input class="" type="checkbox" id="reset_resive_form" value="option1">คงข้อมูลผู้รับ
												<br>
												<br>
													<button type="button" class="btn btn-outline-primary btn-sm" id="btn_save">บันทึกข้อมูล </button>
													{#
													<button type="button" class="btn btn-outline-primary btn-sm" onclick="reset_send_form();">ล้างข้อมูลผู้ส่ง </button>
													<button type="button" class="btn btn-outline-primary btn-sm" onclick="reset_resive_form();">ล้างข้อมูลผู้รับ </button>
													#}

												</div>
											</div>	
										</div>
									</form>
						</div>
					</div>
				</div>

			</form>
					<br>
				</div>
			  </div>
		</div>
	</div>
	

<div class="row">
	<div class="col-md-12 text-right">
	<form id="form_print" action="pp.php" method="post" target="_blank">
		<input type="hidden" id="maim_id" name="maim_id" value="">
		<hr>
		<table>
			<tr>
				<td>
					<span class="box_error" id="err_round"></span>
					<select data-error="#err_round" class="form-control form-control-sm" id="round_printreper" name="round_printreper">
						<option value="">กรุณาเลือกรอบ</option>
						{% for r in round %}
						<option value="{{r.mr_round_id}}">{{r.mr_round_name}}</option>
						{% endfor %}
					</select>
				</td>
				
				<td>
					<span class="box_error" id="err_date_report"></span>
					<input data-error="#err_date_report" name="date_report" id="date_report" class="form-control form-control-sm" type="text" value="{{today}}" placeholder="{{today}}">
				</td>
				<td>
					<button onclick="load_data_bydate();" type="button" class="btn btn-sm btn-outline-secondary" id="">ค้นหา</button>
					<div class="btn-group" role="group">
						<button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						พิมพ์ใบงาน
						</button>
						<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
							<a onclick="print_option(1);"  class="dropdown-item" href="#">แยกตามสาขาผู้รับ</a>
						</div>
					</div>
				<!-- 				
					<button onclick="print_option(2);" type="button" class="btn btn-sm btn-outline-secondary" id="">พิมพ์ใบคุม</button>
				-->
				</td>
			</tr>
		</table>
	</form>
	</div>	
</div>



<div class="row">
	<div class="col-md-12">
		<hr>
		<h5 class="card-title">รายการเอกสาร</h5>
		<div class="responsive-table">
			<table class="table table-bordered table-hover display responsive no-wrap" id="tb_keyin">
			<thead class="thead-light">
			  <tr>
				<th width="5%" scope="col">#</th>
			
				<th width="5%" scope="col">
							<label class="custom-control custom-checkbox">
								<input id="select-all" name="select_all" type="checkbox" class="custom-control-input select-all">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description"></span>
							</label>
						
						
					  </div>
					
				</th>
				<th width="5%" scope="col">
					<button onclick="cancelwork();" type="button" class="btn btn-danger btn-sm">ลบรายการ</button>
					<button onclick="print_option(2);" type="button" class="btn btn-sm btn-outline-info" id="">พิมพ์ใบงาน</button>
				</th>
				<th width="10%" scope="col">วันที่บันทึก</th>
				<th width="10%" scope="col">วันที่นำส้ง</th>
				<th width="10%" scope="col">เลขที่เอกสาร</th>
				<th width="10%" scope="col">สถานะ</th>
				<th width="10%" scope="col">ชื่อผู้ส่ง</th>
				<th width="10%" scope="col">รอบ</th>
				<th width="10%" scope="col">ผู้รับ</th>
				<th width="10%" scope="col">รหัสค่าใช้จ่าย</th>
				<th width="30%"scope="col">ชื่อเอกสาร:</th>
				<th width="30%"scope="col">หมายเหตุ</th>
			  </tr>
			</thead>
			<tbody>
		
			</tbody>
		</table>
	</div>
	</div>
</div>
</div>



<div id="bg_loader" style="display: none;">
	<img id = 'loader'src="../themes/images/spinner.gif">
</div>







<!-- Modal -->
<div class="modal fade" id="add_cost_center" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูลรหัสค่าใช้จ่าย</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form id="myform_data_add_cost_center">
			
			
			<div class="form-row">
				
				<div class="col">
					<span class="box_error" id="err_add_cost_code"></span>
				</div>
				<div class="col">
					<span class="box_error" id="err_add_cost_name"></span>
				</div>
			</div>
			<div class="form-row">
				<div class="col-3">
					<input id="add_cost_code" name="add_cost_code" data-error="#err_add_cost_code"  type="text" class="form-control form-control-sm" placeholder="รหัสค่าใช้จ่าย">
				</div>
				<div class="col-9">
					<input id="add_cost_name" name="add_cost_name" data-error="#err_add_cost_name" type="text" class="form-control form-control-sm" placeholder="ชื่อ">
				</div>
			</div>
			
		</form>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button id="btn_add_cost" type="button" class="btn btn-primary">บันทึกข้อมูล</button>
			 
      </div>
	  <div class="form-row">
		<div class="col">
			<div id="error" class="alert alert-danger" role="alert" style="display: none;">
				...
			  </div>
			<div id="success" class="alert alert-success" role="alert" style="display: none;">
				...
			</div>
		</div>
	</div>
    </div>
  </div>
</div>





{% endblock %}


{% block debug %} 

	{% if debug != '' %}
		<pre>{{ debug }}</pre>
	{% endif %}

{% endblock %}
