{% extends "base_emp_branch.tpl" %}

{% block title %}Pivot- List{% endblock %}

{% block menu_1 %} active {% endblock %}


{% block Content %}

		<div class="row justify-content-center">
			<div class="col-xs-12"><img src="../themes/images/news.png" alt="news" class="img-responsive" width="100%"/></div>
		</div>
	

{% endblock %}


{% block debug %} 

	{% if debug != '' %}
		<pre>{{ debug }}</pre>
	{% endif %}

{% endblock %}
